// BEGIN VENDOR CSS
link(rel='stylesheet', type='text/css', href='../../../app-assets/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='../../../app-assets/fonts/feather/style.min.css')
link(rel='stylesheet', type='text/css', href='../../../app-assets/fonts/font-awesome/css/font-awesome.min.css')
//- link(rel='stylesheet', type='text/css', href='../../../app-assets/fonts/flag-icon-css/css/flag-icon.min.css')
link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/extensions/pace.css')
block vendorcss
// END VENDOR CSS

// BEGIN STACK CSS
link(rel='stylesheet', type='text/css', href='../../../app-assets/css/bootstrap-extended.css')
link(rel='stylesheet', type='text/css', href='../../../app-assets/css/app.css')
//- link(rel='stylesheet', type='text/css', href='../../../app-assets/css/colors.css')
//- if (useDirection == 'rtl')
//- 	link(rel='stylesheet', type='text/css', href='../../../app-assets/css/custom.css')
// END STACK CSS

// BEGIN Page Level CSS
block pagecss
// END Page Level CSS

// BEGIN Child Page Level CSS
block child_pagecss
// END Child Page Level CSS

// BEGIN Custom CSS
link(rel='stylesheet', type='text/css', href='../../../assets/css/style.css')
// END Custom CSS