extends ./map_base

block content
	.col-md-12.pad-r-l-0
		block map_left_panel
			include ./include/search
		block map_righ_panel
			#floating-panel-right
				.input-group.input-group-sm.p-t-5
					input.form-control#route_color(type="color")
				hr
				#route-result
				//- button.btn.btn-warning#start_stop(type="start") Başla
				button.btn.btn-info#back_route(type="back" disabled) Geri Al
				button.btn.btn-primary#add_route(type="addclear") Ekle

		#map.map

block child_pagecss
	//- link(rel='stylesheet', type='text/css', href="https://openlayers.org/en/v4.6.4/css/ol.css")

block child_pagejs
	script(src='../../../assets/js/app.ol.create_route.js', type='text/javascript')
	