extends ./map_base

block content
	script#delete1.
		var savedData_saved = #{saved};
	- if (saved == true)
		script#delete.
			var savedData_lat = #{savedData.lat};
			var savedData_lon = #{savedData.lon};
			var savedData_note = "#{savedData.note}";
			
	.col-md-12.pad-r-l-0
		block map_left_panel
			include ./include/search
		block map_righ_panel
			#floating-panel-right
				.input-group.input-group-sm.p-t-5
					span.input-group-btn
						button.btn.btn-primary(type='button' selectFor="car-capacity" title="Araç Kapasitesi") Kapasite
					select.form-control#total-weight(name="car-capacity")
						option(value="15") 15
						option(value="25") 25
						option(value="35") 35
						option(value="40") 40
						option(value="50") 50
				//- .input-group.input-group-sm.p-t-5
				//- 	label
				//- 		input#use-master(type="checkbox" checked)
				//- 		| Güncel Durakları Kullan				
				.input-group.input-group-sm.p-t-5
					.input-group-btn
						button.btn.btn-danger.start-stop-btn(type='button' selectFor="stop" title="Durak Sayısı") #Durak
					input.form-control#station-count.start-stop(type="number" value="200" step="10" selectFor="stop" disabled)
				hr
				#route-result
				div#control-buttons
					button.btn.btn-info.btn-sm.mr-1#draw-poly(type="clear") Alan Belirle
					button.btn.btn-success.btn-sm#start(type="clear") Başlat
		#map.map

block child_pagecss
	//- link(rel='stylesheet', type='text/css', href="https://openlayers.org/en/v4.6.4/css/ol.css")

block child_pagejs
	script(src='../../../assets/js/app.ol.grouping.js', type='text/javascript')