extends ./map_base

block content
	.col-md-12.pad-r-l-0
		block map_left_panel
			include ./include/search
		block map_righ_panel
			#floating-panel-right
				.input-group.input-group-sm.p-t-5
					select.form-control#route-type
						option(value="route") route
						option(value="driving") driving
						option(value="car") car
						option(value="walk") walk
						option(value="bike") bike
						option(value="foot") foot
				.input-group.input-group-sm.p-t-5
					span.input-group-btn(title="Başlangıç noktası seç")
						button.btn.btn-primary.start-stop-btn(type='button' selectFor="start") Başlangıç
					input.form-control#startInput.start-stop(type="text" placeholder="Start" selectFor="start")
				.input-group.input-group-sm.p-t-5
					.input-group-btn(title="Bitiş noktası seç")
						button.btn.btn-danger.start-stop-btn(type='button' selectFor="stop") Bitiş
					input.form-control#stopInput.start-stop(type="text" placeholder="Stop"  selectFor="stop")
				hr
				#route-result
				button.btn.btn-info#clear-routes(type="clear") Temizle
		#map.map

block child_pagecss
	//- link(rel='stylesheet', type='text/css', href="https://openlayers.org/en/v4.6.4/css/ol.css")

block child_pagejs
	script(src='../../../assets/js/app.ol.osrm_find_route.js', type='text/javascript')
	